<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1 class="page-title"><%= title %></h1>
    <div>
      <a href="/">Home</a>
      <a href="/categories">View all Categories</a>
    </div>

    <div><h3>Factions</h3></div>
    <ol>
      <% factions.forEach(faction =>{%>
      <li><%= faction.factionname %></li>
      <% }) %>
    </ol>
  </body>
</html>
