<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1 class="page-title"><%= title %></h1>
    
    <div><h3>some text here...</h3></div>
    
  </body>
</html>
