<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1 class="page-title"><%= title %></h1>
    <div>
      <a href="/categories">View all Categories</a>
      <a href="/factions">View all Factions</a>
    </div>

    <div><h3>All Characters</h3></div>
    <%- include("characterTable", {characters : characters}) %>
    <a href="/add">Add Character</a>
    <a href="/delete">Delete Character</a>
  </body>
</html>
